<div class = "col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <br />
  <p>Splurty was built by <a target = "_blank" href = "https://github.com/rololobo/">Rosie Highsmith</a> &amp; <a target = "_blank" href = "https://github.com/rololobo/">Evil Rosie Highsmith</a>. They are web developers in San Diego who want to make concise code do awesome stuff for people who like doing things.
  </p>

  <p> Together they have created so many handfuls of apps, including both static HTML pages and dynamic web applications.
  </p>

  <p>Rosie and Evil Rosie are learning to code with <a target="_blank" href = "http://www.thefirehoseproject.com/">The Firehose Project</a>.

  <div class = "col-xs-12 col-sm-4">
    <%= image_tag 'twitter.jpg', class: 'img-responsive' %>
  </div>

  <div class = "col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class = "text-center">Rosie Highsmith</h2>
    <br />
    <p>
      Rosie's an aspiring web developer. Her varied background gives her a unique perspective. She has been an industrial engineer in optical, medical device, and custom semi-truck manufacturing industries. She's also worked hands-on as a healthcare provider when she was a certified nursing assistant and physical therapy technician.
    </p>
  </div>
  <br class = "clear" />

  <div class = "col-xs-12 col-sm-4" style = "padding-top: 30px;">
    <%= image_tag 'evil_twitter.jpg', class: 'img-responsive' %>
  </div>
  <div class = "col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class = "text-center">Evil Rosie Highsmith</h2>
    <br />
    <p>
      .naicinhcet ypareht lacisyhp dna tnatsissa gnisrun deifitrec a saw ehs nehw redivorp erachtlaeh a sa no-sdnah dekrow osla s'ehS .seirtsudni gnirutcafunam kcurt-imes motsuc dna ,ecived lacidem ,lacitpo ni reenigne lairtsudni na neeb sah ehS .evitcepsrep euqinu a reh sevig dnuorgkcab deirav reH .repoleved bew gniripsa na s'eisoR
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />