@font-face {
    font-family: 'pacificoregular';
    src: url('/assets/pacifico-webfont.woff2') format('woff2'),
         url('/assets/pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('ostrich-regular-webfont.woff2') format('woff2'),
         url('ostrich-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}